* {
    margin: 0;
    padding: 0;
}
body{
    background: url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
    background-color: blueviolet;
    padding: 15px;
    color: beige;
}

.container {
    padding: 15px;
}

.book-container {
    text-align: left;
    padding: 15px;
    width: 25%;
    background-color: rgb(246, 242, 242);
    border-radius: 20px;
    margin: 30px;
    box-shadow: 5px 10px 10px black;
    display: inline-block;
    vertical-align: top;
}

.book-container h2 {
    color: blue;
}

.book-container button {
    background-color: rgb(164, 13, 13);
    color: rgb(218, 206, 206);
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: none;
}

.add-button {
    background-color:blueviolet;
    color: beige;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 20px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;

}

.popup-overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:1;
    display: none;
}

.popup-box
{
    background-color: blueviolet;
    width: 30%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    display: none;
}

.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding:5px;
    font-size: 20px;
    border-bottom: 2px solid black ;
}

.popup-box textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding:5px;
    font-size: 20px;
    border: 2px solid black ;
}

.popup-box input::placeholder
{
    color: black;
}

.popup-box textarea::placeholder
{
    color: black;
}

.popup-box button{
    background-color: blanchedalmond;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
}

.popup-box input:focus
{
    outline: none;
}

.popup-box textarea:focus
{
    outline: none;
}